body{
    background-color: #ccc;
}
#header a:hover{
    color: #fff;
}
#bg-img{
    background: url('background.png');
    background-size: 100%;
    background-repeat: no-repeat;
    min-height: 500px;
}
#About{
    margin-top: -200px;
    font-size: small;
}
#About .fa{
    color: #fff;
}
#About span{
    padding: 10px 20px 10px 20px;
}
#About hr{
    border-width: 2px;
    margin-top: 6px;
}
#Skills span{
    padding: 10px 20px 10px 20px;
    margin-top: 6px;
}
#Skills span{
    padding: 10px 20px 10px 20px;
}

#Experience span{
    padding: 10px 20px 10px 20px;
}
#Experience hr{
    border-width: 2px;
    margin-top: 6px;
}
#Experience .card{
    border-top: 3px red;
}
.need{
    font-size: small;
}
.siz{
    font-size: medium;
}
.cli{
    height: 10px;
}